body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh; 
    background-image: url('../imgs/banner-natal.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#felizNatal {
    font-size: 36px;
    color: red;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 8px;
}

img.gif-element {
    width: 100%; 
    max-width: 600px; 
    height: auto;
    z-index: 2;
}

/* Adicione esta regra para mover o botão para a parte inferior */
body {
    margin-top: 10000vh;
}
